:root{
    --main-bg: #1C1E28;
    --second-bg: #191921;
    --main-text: #fff;
    --second-text: #61DAFB;
    --hover: #393939;
}

li, ul{
    margin: 0;
    padding: 0;
}

h1, h2, h3{
    margin: 0;
}

body{
    font-family: 'Kanit', sans-serif;
}